{% extends "base.html" %}

{% block title %}
  New talk | {{ super() }}
{% endblock %}

{% block content %}
  <h1 id="">Registry a new talk</h1>

  {% from "/helpers/_form_helper.html" import render_field %}
  <form action="{{ url_for('create_talk') }}" method="post" accept-charset="utf-8">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.description) }}
      {{ render_field(form.date) }}
    </dl>
    <p><input type="submit" value="Save talk"/></p>
  </form>
{% endblock %}
